{% extends "base.html.j2" %}


{% block title %}New Project{% endblock %}

{% block content %}
<div class='content-inner'>
	<form method="POST">
		<h1>New Project</h1>
		{% if form.errors %}
			{% for error in form.errors %}
			<div class='banner warn'>
				{{ error }}
			</div>
			{% endfor %}
		{% endif %}
		{{ form.csrf_token() }}
		<div class='row'>
			<input type="text" name="name" placeholder="Name" value="{{ form.name.data if form.name.data }}"/>
		</div>
		<div class='row'>
			<input type="text" name="about" placeholder="About" value="{{ form.about.data if form.about.data }}"/>
		</div>
		<div class='col'>
			<label for="profile_image">Main Image</label>
			<input id="profile_image" type="file" name="profile_image" accept="image/*">
		</div>

		<div class='row'>
			<button type="submit" name="submit_button" id="submit_button" class='button'>Submit</button>
		</div>
	</form>
</div>
{% endblock %}