{% extends "base.html.j2" %}
{% set active_page = 'contact' %}


{% block title %}Contact{% endblock %}

{% block content %}
<div class='content-inner'>
	<form method="POST">
		<h1>Contact us</h1>
		{% if form.errors %}
			{% for error in form.errors %}
			<div class='banner warn'>
				{{ error }}
			</div>
			{% endfor %}
		{% elif did_submit %}
			<div class='banner'>
				Your message has been sent. We'll get back to you ASAP!
			</div>
		{% endif %}
		{{ form.csrf_token() }}
		<div class='row'>
			<input type="email" name="email" placeholder="Email" />
		</div>
		<div class='row'>
			<textarea name="message" placeholder="Your message (max N characters)"></textarea>
		</div>
		<div class='row'>
			<button type="submit" name="submit_button" id="submit_button" class='button'>Submit</button>
		</div>
	</form>
</div>
{% endblock %}