{% extends "base.html.j2" %}

{% block title %}Error {{ error.code }}{% endblock %}

{% block content %}
<div class='content-inner'>
	<h1>Error {{ error.code }}</h1>
	<p class='text-sub'>{{ error.description }}</p>
</div>
{% endblock %}